.search
{
    margin: 20px 50px 0px;
    display: flex;
}
.search input
{
    padding: 20px 10px 10px;
    border:0;
    width:100%;
    color: #999;
    font-size: 20px;
    text-align: center;
}
.search input:focus
{
    outline: none;
    border-bottom: 1px solid #CCC;
}
.btn
{
    padding: 6px 16px;
    background-color: rgb(0, 91, 165);
    color: aliceblue;
    border:2px solid rgb(0, 91,165);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: inset 0px 0px 8px 1px #FFF;
}
.radio
{
    margin:20px 50px 0;
}
.radio, .radio > div
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.radio input
{
    width: 20px;
    height:20px;
}
.radio span
{
    margin-right: 60px;
}

.navigator
{
    margin: 30px;
    display: flex;
    justify-content: space-between;
}