.header
{
    background-color:rgb(0,91,151) ;
    color: #fff;
    padding: 20px 30px;
    /* height: 80px; */
    /* box-sizing: border-box; */
   
}
 /* .warp вложенный в .header на любом уровне */
.header .warp 
{
  display: flex;
  justify-content:  space-between;
  align-items: center;
}
.logo 
{
    font-size: 20px;
    font-weight: bold;
}
.contacts
{
    text-align: right;
}